
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bkgnd-color:#555;
    --main-color: #fff;
    --test-color: #f0f;
    background-color: var(--bkgnd-color);
}

body {
    width: 100vw;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--main-color);
    font-size: clamp(12px, 1.8vw, 36px);
}
/*#root{*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

/*h1 {*/
/*    color: var(--main-color);*/
/*    font-size: clamp(12px, 2vw, 36px);*/
/*    font-weight: normal;*/
/*}*/
